<section>

    <div class="view" style="background-image: url('../../../assets/img/portait-background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
            <div class="container px-md-3 px-sm-0">
                <div class="row wow fadeIn">
                    <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
                        <h3 class="display-3 font-weight-bold white-text mb-0 mt-5 pt-md-5 pt-5">Renacer Misión Cristiana</h3>
                        <hr class="hr-light my-4 w-75">
                        <h4 class="subtext-header mt-2 mb-4">Más que una iglesia, una gran familia en Cristo.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
            <div class="col-md-4 pb-2" *ngFor="let card of item; let cardIndex = index">
                <mdb-card class="my-1 h-100">
                    <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>{{card.title}}</h4>
                        </mdb-card-title>
                        <p>{{card.description}}</p>
                    </mdb-card-body>
                    <mdb-card-footer>
                        <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
                    </mdb-card-footer>
                </mdb-card>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</section>